<template name="wave">
  <div class="row">
    <div class="col-sm-4">
      <img style="width:100%;height:100%;" src="http://www.imocwx.com/cwm/03/00/cwm_ljp.gif" class="single-img" />     
    </div>
    <div class="col-sm-1">
        <span>風向：</span>
        <span>西南</span>
    </div>
    <div class="col-sm-1">
      <span>風浪：</span>
      <span>大浪</span>
    </div>
    <div class="col-sm-1">
      <span>潮汐：</span>
      <span>滿潮</span>
    </div>
    <div class="col-sm-2">
      <span>浪高：</span>
      <span>3至4公尺</span>
    </div>
    <div class="col-sm-2">
      <span>風力：</span>
      <span>6至7陣風9級</span>
    </div>
  </div>
</template>




